/*
    13-Ago 2019  (c) Ing.Angel Escobedo / Jonas Schmedtmann
    v1.0.00
*/

/* Animación */

  @-webkit-keyframes movaIzq {
    0% { opacity: 0; transform: translateX(-10rem); }
    80% { transform: translateX(1rem); }
    100% { opacity: 1; transform: translate(0); } }

  @-webkit-keyframes movaDer {
    0% { opacity: 0; transform: translateX(10rem); }
    80% { transform: translateX(-1rem); }
    100% { opacity: 1; transform: translate(0); } }

  @-webkit-keyframes movAbj  {
  	0% { opacity: 0; transform: translateY(3rem); }
  	100% { opacity: 1; transform: translate(0); }   }

/* Globales */
	@font-face {
	  font-family: 'Bitwise';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Bitwise'),
	       url(Bitwise.ttf) format('truetype'); }

  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; }

  html {
    font-size: 62.5%;  } 
    @media only screen and (max-width: 56.25em) {
      html { font-size: 50%; } }
    @media only screen and (max-width: 75em) {
      html { font-size: 56.25%; } }
    @media only screen and (min-width: 112.5em) {
      html { font-size: 75%; }}

  body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3rem; }
    @media only screen and (max-width: 56.25em) {
      body { padding: 0; } }

    ::-moz-selection {
    background-color: #55c57a; /* #f4f4f4; gris*/
    color: #fff; }

    ::selection {
    background-color: #55c57a;  
    color: #fff; }

  body {
    font-family: Arial;
    line-height: 1.7;
    color: #777;  }

/* Utilitarios */

  .uparrafo {
    font-size: 1.6rem; 
    margin-bottom: 3rem;}
    .parrafo:not(:last-child) {
      margin-bottom: 3rem; }

  .ucentrar {
    text-align: center !important;  }

  .umargen-abajo1 {
    margin-bottom: 1.4rem !important;  }

  .umargen-abajo2 {
    margin-bottom: 4rem !important;  }

  .umargen-abajo3 {
    margin-bottom: 8rem !important; }  
    @media only screen and (max-width: 56.25em) {
    .umargen-abajo3 {
      margin-bottom: 3rem !important; } }  

  .umargen-arriba1 {
    margin-top: 4rem !important; }
    @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 2rem !important; } }

  .umargen-arriba2 {
    margin-top: 8rem !important; }

  .utitulo-1 {
    color: white;
    /*text-transform: uppercase;*/
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-bottom: 6rem; }

    .utitulo-1a {
      display: block;
      font-size: 6rem;
      letter-spacing: 4rem;
      -webkit-animation: movaIzq 1s ease-out;
      animation-name: movaIzq 1s ease-out; }
      @media only screen and (max-width: 37.5em) {
      .utitulo-1a {
        letter-spacing: 1rem;
        font-family: 5rem; } }

    .utitulo-1b {
      display: block;
      font-size: 2rem;
      /*font-weight: 700;*/
      letter-spacing: 1.75rem;
      -webkit-animation: movaDer 1s ease-out;
      animation: movaDer 1s ease-out; }
      @media only screen and (max-width: 37.5em) {
      .utitulo-1b {
        letter-spacing: .5rem; } }

  .utitulo-2 {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    background-image: -webkit-gradient(linear, left top, right top, from(blue), to(navy));
    background-image: linear-gradient(to right, blue, navy);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;  }
    @media only screen and (max-width: 56.25em) {
    .ucabecera-2 {
      font-size: 3rem; } }
    @media only screen and (max-width: 37.5em) {
    .ucabecera-2 {
      font-size: 2.5rem; } }

    .ucabecera-2:hover {
      -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
      transform: skewY(2deg) skewX(15deg) scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

  .utitulo-3 {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;  }

  .ufila {
    max-width: 114rem;
    margin: 0 auto; }

    .ufila:not(:last-child) {
      margin-bottom: 8rem; }
      @media only screen and (max-width: 56.25em) {
      .ufila:not(:last-child) {
        margin-bottom: 6rem; } }
      @media only screen and (max-width: 56.25em) {
      .ufila {
        max-width: 50rem;
        padding: 0 3rem; } }

    .ufila::after {
      content: "";
      display: table;
      clear: both; }

    .ufila [class^="col-"] {
      float: left; }

      .ufila [class^="col-"]:not(:last-child) {
        margin-right: 6rem; }
        @media only screen and (max-width: 56.25em) {
        .ufila [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
        @media only screen and (max-width: 56.25em) {
        .ufila [class^="col-"] {
          width: 100% !important; } }

    .ufila .col-1-of-2 {
      width: calc((100% - 6rem) / 2); }
    .ufila .col-1-of-3 {
      width: calc((100% - 2 * 6rem) / 3); }
    .ufila .col-2-of-3 {
      width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
    .ufila .col-1-of-4 {
      width: calc((100% - 3 * 6rem) / 4); }
    .ufila .col-2-of-4 {
      width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
    .ufila .col-3-of-4 {
      width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);  }

  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer; }

    .btn:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

      .btn:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; }

    .btn:active, .btn:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);    }

    .btn::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s;   }

  .btn-blanco {
    background-color: white;
    color: #777; }

    .btn--white::after {
    background-color: white;    }

  .btn-azul {
    background-color: #013243;
    color: #fff; }

      .btn-azul::after {
        background-color: #013243 }

  .btn-animado {
    animation: movAbj .5s ease-out .75s;
    animation-fill-mode: backwards; }

  .btn-texto:link, .btn-text:visited {
    font-size: 1.6rem;
    color: navy;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid navy;
    padding: 3px;
    -webkit-transition: all .2s;
    transition: all .2s; }

    .btn-texto:hover {
      background-color: navy;
      color: #fff;
      -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px); }

		.btn-texto:active {
      -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      -webkit-transform: translateY(0);
      transform: translateY(0); }

/* Menu */

  .menu_chk {
    display: none;  }

    .menu_chk:checked ~ .menu_fondo {
    	transform: scale(80); }

    .menu_chk:checked ~ .menu_nav {
      opacity: 1;
      width: 100%; }

    .menu_chk:checked + .menu_btn .menu_icon {
      background-color: transparent; }

    .menu_chk:checked + .menu_btn .menu_icon::before {
      top: 0;
      transform: rotate(135deg); }

    .menu_chk:checked + .menu_btn .menu_icon::after {
      top: 0;
      transform: rotate(-135deg); } 

  .menu_btn {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;  }

    .menu_icon {
      position: relative;
      margin-top: 3.5rem; }

      .menu_icon, .menu_icon::before, .menu_icon::after {
        width: 3rem;
        height: 2px;
        background-color: #333;
        display: inline-block; }

        .menu_icon::before, .menu_icon::after {
          content: "";
          position: absolute;
          left: 0;
          transition: all .2s; }

        .menu_icon::before {
          top: -.8rem; }

        .menu_icon::after {
          top: .8rem; }

  .menu_fondo {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    z-index: 1000; }

  .menu_nav {
    background-color: rgba(1, 50, 67);   /*navy*/
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);   }

    .menu_list {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      list-style: none;
      text-align: center;
      width: 100%;  }

      .menu_item {
        margin: 1rem;    }
          
        .menu_link:link, .menu_link:visited {
          display: inline-block;
          font-size: 3rem;
          font-weight: 300;
          padding: 1rem 2rem;
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
          background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
          background-size: 220%;
          transition: all .4s; }

          .menu_link:link span, .menu_link:visited span {
            margin-right: 1.5rem;
            display: inline-block; }

          .menu_link:hover, .menu_link:active {
            background-position: 100%;
            color: rgba(1, 50, 67, 0.8);
            transform: translateX(1rem); }

/* Inicio */

  .cabecera {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(44, 130, 201, 0.8), 
      rgba(1, 50, 67, 0.8)), url(../img/img00.jpg); 
    background-size: cover;
    background-position: top;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 50% 100%, 0 75vh); }

    .cabecera_logo {
      position: absolute;
      top: 3rem;
      left: 3rem; 
      height: 7rem;  
      border-radius: 3.5rem 0; }

  .cabecera_text {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

/* Servicios */

  .servicio {
    background-color: #f7f7f7;
    padding: 5rem 0; }
    @media only screen and (max-width: 56.25em) {
    .servicio {
      padding: 2rem 0; } }

  .cuadro {
    position: relative; }

    .cuadro_foto {
      width: 55%;
      -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
      border-radius: 2px;
      position: absolute;
      z-index: 10;
      -webkit-transition: all .2s;
      transition: all .2s;
      outline-offset: 2rem; }
      @media only screen and (max-width: 56.25em) {
      .cuadro_foto {
        float: left;
        position: relative;
        width: 33.33333333%;
        -webkit-box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }

      .cuadro_foto:hover {
        outline: 1.5rem solid blue;
        -webkit-transform: scale(1.05) translateY(-0.5rem);
        transform: scale(1.05) translateY(-0.5rem);
        -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
        box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
        z-index: 20; }

    .cuadro:hover .cuadro_foto:not(:hover) {
      -webkit-transform: scale(0.95);
      transform: scale(0.95); }

    .cuadro_foto-1 {
      left: 0;
      top: -2rem; }
      @media only screen and (max-width: 56.25em) {
      .cuadro_foto-1 {
        top: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2); } }

    .cuadro_foto-2 {
      right: 0;
      top: 2rem; }
      @media only screen and (max-width: 56.25em) {
      .cuadro_foto-2 {
        top: -1rem;
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        z-index: 100; } }

    .cuadro_foto-3 {
      left: 20%;
      top: 10rem; }
      @media only screen and (max-width: 56.25em) {
      .cuadro_foto-3 {
        top: 1rem;
        left: 0;
        -webkit-transform: scale(1.1);
        transform: scale(1.1); } }

  .card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem; }
    
    .card__side {
      height: 52rem;
      transition: all .8s ease;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      backface-visibility: hidden;
      border-radius: 3px;
      overflow: hidden;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); 
      }
      .card__side--front {
        background-color: #fff; 
      }
      .card__side--back {
        transform: rotateY(180deg); }
        .card__side--back-1 {
          background-image: linear-gradient(to right bottom, #2C82C9, #013243); 
          }
        .card__side--back-2 {
          background-image: linear-gradient(to right bottom, #FFFF54, #FFEA57); 
          }
        .card__side--back-3 {
          background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }

      .card:hover .card__side--front {
        transform: rotateY(-180deg);  }

      .card:hover .card__side--back {
        transform: rotateY(0);  }

    .card__picture {
      background-size: cover;
      height: 23rem;
      background-blend-mode: screen;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      border-top-left-radius: 3px;
      border-top-right-radius: 3px; 
      }
      .card__picture--1 {
        background-image: linear-gradient(to right bottom, #2C82C9, #013243), url(../img/img01.jpg); }
      .card__picture--2 {
        background-image: linear-gradient(to right bottom, #FFFF54, #FFEA57), url(../img/img02.jpg); }
      .card__picture--3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/img03.jpg); }

    .card__heading {
      font-size: 2.8rem;
      font-weight: 300;
      text-transform: uppercase;
      text-align: right;
      color: #fff;
      position: absolute;
      top: 12rem;
      right: 2rem;
      width: 75%; 
      }
      .card__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone; }
        .card__heading-span--1 {
          background-image: linear-gradient(to right bottom, rgba(44, 130, 201, 0.8), rgba(1, 50, 67, 0.8)); }
        .card__heading-span--2 {
          background-image: linear-gradient(to right bottom, rgba(255, 255, 83, 0.85), rgba(255, 234, 87, 0.85)); }
        .card__heading-span--3 {
          background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }

    .card__details {
      padding: 3rem; 
      }
      .card__details ul {
        list-style: none;
        width: 80%;
        margin: 0 auto; 
        }
        .card__details ul li {
          text-align: center;
          font-size: 1.5rem;
          padding: 1rem; 
        }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }

    .card__cta {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      text-align: center; }

    .card__price-box {
      text-align: center;
      color: #fff;
      margin-bottom: 8rem; }
    
    .card__price-only {
      font-size: 1.4rem;
      text-transform: uppercase; }
    
    .card__price-value {
      font-size: 6rem;
      font-weight: 100;  }

/* Nosotros */

  .nosotros {
   position: relative;
   padding: 5rem 0; 
  }

  .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .3;
    overflow: hidden; }

    .bg-video__content {
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover; }

  .story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 1); /* 0.6 */
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: 1.6rem;
    transform: skewX(-6deg); 
    }
    .story__shape {
      width: 27rem;
      height: 27rem;
      float: left;
      /*transform: translateX(-3rem) translateY(5rem) skewX(6deg);*/
      transform: translateX(-3rem) skewX(6deg);
      -webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);

      position: relative; 
    }
    .story__img {
      height: 100%;
      transform: translateX(0rem) scale(2);
      backface-visibility: hidden;
      transition: all .5s; 
    }
    .story__text {
      transform: skewX(6deg); 
    }
    .story__caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 20%);
      color: #fff;
      text-transform: uppercase;
      font-size: 1.7rem;
      text-align: center;
      opacity: 0;
      transition: all .5s;
      backface-visibility: hidden; 
    }
    .story:hover .story__caption {
      opacity: 1;
      transform: translate(-50%, -50%); }
    .story:hover .story__img {
      transform: translateX(-4rem) scale(1);
      filter: blur(3px) brightness(80%); 
    }

/* Contacto */

  .contacto {
    padding: 10rem 0;
    background-image: linear-gradient(to right bottom, rgba(44, 130, 201, 0.8), rgba(1, 50, 67, 0.8));   }
    @media only screen and (max-width: 56.25em) {
    .contacto {
      padding: 10rem 0; } }

  .apunte {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%);
    background-size: 100%;
    border-radius: 3px;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); 
    margin-left: 10rem;
    width: 85%;
    padding: 6rem;}
    /*@media only screen and (max-width: 75em) {
      .apunte {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../img/img-04.jpg);
      background-size: cover; } } */
    /*@media only screen and (max-width: 56.25em) {*/

    /*.book__form {
      width: 50%;
      padding: 6rem; }*/

      .apunte_fila {
      	display: flex;      }

  .form_grp:not(:last-child) {
    margin-bottom: 2rem; }

  .form_inp {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rbga(#fff, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all .3s; }

    .form_inp:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid blue; }   /*#55c57a*/

    .form_inp:focus:invalid {
      border-bottom: 3px solid #ff7730; }

    .form_inp::-webkit-input-placeholder {
      color: #999;     }

  .form_txt {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0rem;
    display: block;
    transition: all .3s; }

  .form_inp:placeholder-shown + .form_txt {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-2rem); }

  .form_rad-grp {
    /*width: 90%; */
    display: inline-block; }

    .form_rad-inp {
      display: none; }

    .form_rad-txt {
      font-size: 1.6rem;
      cursor: pointer;
      position: relative;
      padding-left: 3.5rem; }

      .form_rad-btn {
        height: 3rem;
        width: 3rem;
        border: 5px solid blue;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -.4rem; }

        .form_rad-btn::after {
          content: "";
          display: block;
          height: 1.3rem;
          width: 1.3rem;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: blue;  /*#55c57a*/
          opacity: 0;
          transition: opacity .2s; }

          .form_rad-inp:checked ~ .form_rad-txt .form_rad-btn::after {
            opacity: 1; }

  .datos {
  	margin: 5rem 0 0 23rem;
  	font-size: 1.6rem;
  	color: white;
  }

/* Final */

  .pie {
    background-color: #333;
    padding: 2rem 0;
    font-size: 1.4rem;
    display: flex;
    color: #f7f7f7; }

    .pie_logo-box {
      margin: 0 5rem 0 5rem; }

	    .pie_logo {
	      width: 13rem;
	      height: auto;
	      border-radius: 6.5rem 0; }

    .pie_nav {
      border-top: 1px solid #777;
      margin-left: 10rem; }

	    .pie_list {
	      list-style: none; }

		    .pie_item {
		    	display: inline-block; }

		    	.pie_item:not(:last-child) {
		        margin-right: 1.5rem; }

	    .pie_link:link, .pie_link:visited {
	      color: #f7f7f7;
	      background-color: #333;
	      text-decoration: none;
	      text-transform: uppercase;
	      display: inline-block;
	      transition: all .2s; }

		    .pie_link:hover, .pie_link:active {
		      color: blue;
		      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
		      transform: rotate(5deg) scale(1.3); }

    .pie_copyright {
      border-top: 1px solid #777;
      padding-top: 2rem;  }


