* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font: 15px Verdana, Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4; /*gris*/
	padding: 0 10px 10px 10px;
}

@font-face {
  font-family: 'Bitwise';
  font-style: normal;
  font-weight: 400;	/*width: 70vh;*/

  src: local('Bitwise'),
       url(Bitwise.ttf) format('truetype');
 }
 
 @keyframes movDerecha {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* Globales */
.contenido{
	margin: 0 auto;
	overflow: hidden;
}

.contenido h2 {
	content: flow;
	font-size: 3rem;
	margin-top: 50vh;
}

.boton1{
	height: 38px;
	background: #e8491d; /*naranja*/
	border: 0;
	border-radius: 15px;
	padding: 0 20px 0 20px;
	color: #fff; /*blanco  */
}

.imgRedonda {
    width:60px;
    height:60px;
    border-radius:30px;
}

ul {
	margin: 0;
	padding: 0;
}

header {
	height: 50vh;
    background-image: linear-gradient(to right bottom, 
  	rgba(0, 0, 255, 0.8), rgba(0, 0, 128, 0.8)), 
    url(../img/img00.jpg);
	color: #fcff33;
	font-family: Impact;
    /*background: linear-gradient(to bottom, blue, navy); */
  	background-size: cover;  
  	background-position: top;
  	position: relative;
  	clip-path: polygon(0 0, 100% 0, 100% 40vh, 50% 100%, 0 40vh);
	border-bottom: 7px solid #1293d4;  /*electrico?*/
}

header a {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}

header li{
	float: left;
	display:inline;
	padding: 0 20px 0 20px;
}

header #marca{
	float: left;
}

header #marca h1{
	float: right;
	margin-left: 10px;
}

header nav {
	float: right;
	margin-top: 10px;
}

header .resaltado, header .actual {
	color: #1293d4;
	font-weight: bold;
}

header .resaltad0 {
	color: #1293d4;
	font-family: Bitwise;
	font-weight: bold;
	letter-spacing: .3rem;
	font-size: 50px;
}

header a:hover{
	color: #1293d4;
	font-weight: bold;
}

/* Cabecera con imagen */
#cabecera {
	/*min-height: 400px;*/
	text-align: center;
	color: #35424a;
	position: relative;
	/*transition: all 1000ms;*/
}

#cabecera img {
	position:absolute; left:0; top:2px;	
	width :100vw; 
	height: 100vh;
}

.cab-texto {
  text-align: center;
  margin-top: 17vh;  
}

.cab-princ {
	display: block;
	font-size: 5vh; 
	color: #35424a;
    text-align: center;	
}

.cab-secun {
	display: block;
	font-size: 1rem; 
	color: white;
	text-align: center;
	animation: movDerecha 1s ease-out;
}

/* Cajas */
#cajas {
    display : inline;
}

#cajas .caja {
	float: left;
	text-align: center;
	width: 30%;
	padding: 5%;
}

#cajas .caja img {
	width: 20%px;
	margin-bottom: 10px;
}


/* Lateral */
aside#lateral {
	float: right;
	width: 35%;
	margin-top: 10px;

}

aside#latera1 {
	float: right;
	width: 45%;
	margin-top: 10px;
}
.oscuro {
	padding: 10px;
	background-color: #35424a;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Main col*/
article#main-col {
	float: left;
	width: 65%;
}

/* Servicios*/
ul#servicios li {
	list-style: none;
	padding: 20px;
	border: 1px solid #ccc;
	width: 98%;
	margin-bottom: 5px;
	background-color: #e6e6e6;
}

/* Footer */
footer {
	padding: 1px;
	margin-top: 5px;
	color: #fff;
	background-color: #1293d4;
	text-align: center;
}

/* Contacto */
input, textarea {
	width: 93%;
	height: 35px;
	border: 1px solid gray;
	margin-bottom: 5px;
	padding-left: 5px;
}

textarea {
	height: 120px;
}

input[type="submit"]{
	background-color: #e8491d;
	width: 50%;
	border-radius: 15px;
	margin-left:  23%;
	color: #fff;
}


/* media query*/
@media(max-width: 768px) {
	header #marca,
 	header nav li,
	#boletin h1,
	#boletin form,
	#cajas .caja,
	article#main-col,
	aside#lateral{
		float: none;
 		width: 100%
	}
	aside#latera1{
		float: none;
 		width: 100%
	}
	header {
		padding-bottom: 20px;
	}
	
	#boletin h1 {
		margin-top: 40px;
	}
	
	#boletin button {
		display: block;
		width: 100%;
	} 
	
	#boletin form input[type="email"] {
		width: 100%;
		margin-bottom: 5px;
	}
	
	input, textarea {
		width: 98%;
		
	}
}





