* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font: 15px Verdana, Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4; /*gris*/
	padding: 0 10px 10px 10px;
}

@font-face {
  font-family: 'Bitwise';
  font-style: normal;
  font-weight: 400;	/*width: 70vh;*/

  src: local('Bitwise'),
       url(Bitwise.ttf) format('truetype');
 }

/* Globales */
.contenido{
	margin: 0 auto;
	overflow: hidden;
}

.contenido h2 {
	content: flow;
	font-size: 3rem;
	margin-top: 50vh;
}

.boton1{
	height: 38px;
	background: #e8491d; /*naranja*/
	border: 0;
	border-radius: 15px;
	padding: 0 20px 0 20px;
	color: #fff; /*blanco  */
}

.imgRedonda {
    width:60px;
    height:60px;
    border-radius:30px;
}

ul {
	margin: 0;
	padding: 0;
}

header {
	color: #fcff33;
	font-family: Impact;
    background: linear-gradient(to bottom, blue, navy);
  	background-size: cover;  
  	background-position: top;
  	position: relative;
  	clip-path: polygon(0 0, 100% 0, 100% 15vh, 0 100%);
	border-bottom: 7px solid #1293d4;  /*electrico?*/
}

header a {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}

header li{
	float: left;
	display:inline;
	padding: 0 20px 0 20px;
}

header #marca{
	float: left;
}

header #marca h1{
	float: right;
	margin-left: 10px;
}

header nav {
	float: right;
	margin-top: 10px;
}

header .resaltado, header .actual {
	color: #1293d4;
	font-weight: bold;
}

header .resaltad0 {
	color: #1293d4;
	font-family: Bitwise;
	font-weight: bold;
	letter-spacing: .3rem;
	font-size: 50px;
}

header a:hover{
	color: #1293d4;
	font-weight: bold;
}

/* Cabecera con imagen */
#cabecera {
	min-height: 400px;
	text-align: center;
	color: #35424a;
	transition: all 1000ms;
}

#cabecera img {
	position:absolute; left:0; top:0;	
	/*margin :0;*/
	width :100vw; 
	height: 100vh;
}

/*#cabecera:hover img {filter: blur(2px);}*/

.cab-texto {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);

}

.cab-princ {
	display: block;
	font-size: 2rem; 
}

.cab-secun {
	display: block;
	font-size: 1rem; 
	color: white;
		margin-bottom: 3rem;
}

/*#cabecera h1 {
	margin-top: 400px;
	font-size: 55px;
	margin-bottom: 10px;
}

#cabecera p {
	color: #fff;
	font-size: 20px;
}*/

#boletin {
	padding: 2px;
	color: #fff;
	background:#24282b;
}

#boletin  h1{
	float: left;
}

#boletin form {
	float: right;
	margin-top: 50vhpx;
}

#boletin input[type="email"]{
	padding: 4px;
	height: 25px;
	width: 250px;
}

/* Cajas */
#cajas {
	margin-top: 10px;
}

#cajas .caja {
	float: left;
	text-align: center;
	width: 30%;
	padding: 10px;
}

#cajas .caja img {
	width: 20%px;
}


/* Lateral */
aside#lateral {
	float: right;
	width: 35%;
	margin-top: 10px;
}

aside#latera1 {
	float: right;
	width: 55%;
	margin-top: 10px;
}
.oscuro {
	padding: 15px;
	background-color: #35424a;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Main col*/
article#main-col {
	float: left;
	width: 65%;
}

/* Servicios*/
ul#servicios li {
	list-style: none;
	padding: 20px;
	border: 1px solid #ccc;
	width: 93%;
	margin-bottom: 5px;
	background-color: #e6e6e6;
}

/* Footer */
footer {
	padding: 1px;
	margin-top: 5px;
	color: #fff;
	background-color: #1293d4;
	text-align: center;
}

/* Contacto */
input, textarea {
	width: 90%;
	height: 35px;
	border: 1px solid gray;
	margin-bottom: 5px;
	padding-left: 5px;
}

textarea {
	height: 120px;
}

input[type="submit"]{
	background-color: #e8491d;
	width: 50%;
	border-radius: 15px;
	margin-left:  23%;
	color: #fff;
}


/* media query*/
@media(max-width: 768px) {
	header #marca,
 	header nav li,
	#boletin h1,
	#boletin form,
	#cajas .caja,
	article#main-col,
	aside#lateral{
		float: none;
 		width: 100%
	}
	aside#latera1{
		float: none;
 		width: 100%
	}
	header {
		padding-bottom: 20px;
	}
	
	#boletin h1 {
		margin-top: 40px;
	}
	
	#boletin button {
		display: block;
		width: 100%;
	} 
	
	#boletin form input[type="email"] {
		width: 100%;
		margin-bottom: 5px;
	}
	
	input, textarea {
		width: 98%;
		
	}
}





